{% load static %}

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>| {{ site_name }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="h-100 d-flex">
    <main class="flex-grow-1">
      {% block content %}
      {% endblock content %}
    </main>

    {% include "partials/cdns/bootstrap/js.html" with bootstrap_version="5.3.0" popper_version="2.11.8" %}
  </body>
</html>
{% include "partials/server_info.html" %}
